/*
공통 스타일
desktop, phone RWD style
*/

/* styles.css */
.button-container {
    position: fixed;
    /*top: 0;*/
    right: 0;
    display: flex; /* 버튼을 가로로 나열하도록 설정 */
  }

.button {
    display: block;
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2980b9;
  }

  .word-container {
    position: fixed;
    /* top: 0;*/
    /* right: 0; */
    /* display: flex; 버튼을 가로로 나열하도록 설정 */
  }
  .word {
    width: 100%;
    display:text;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: left;
  }

  .themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
  
  .themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
  }

  